*{
margin: 0;
padding: 0;
box-sizing: border-box;

}

/* Full website background */
body {
  margin: 0;
  min-height: 100vh;
  background-image: url("./assets/images/backimg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}






.parent{

display: flex;
justify-content: space-between;
align-items: center;
text-align: center;
padding: 25px;

color: white;


}


.child2 {
display: flex;
gap: 20px;
margin-left: 20%;

}

.child2 a {

  text-decoration: none;
  color: white;
}

.homeparent{

display: flex;
justify-content: space-between;
align-items: center;
text-align: center;

color: rgb(254, 253, 253);
padding: 70px;
margin-top: 5px;
gap: 40px;

}

.hochild1{


display: flex;
flex-direction: column;
gap: 10px;
margin-right: 40px;

}

.hochild2 img{

display: flex;
align-items: center;
border-radius: 8%;
border: 3px solid rgb(85, 47, 122);
width: 350px;
height: 400px;

}


.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}

.social-links a {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease, transform 0.3s ease;
}

.social-links svg {
  width: 22px;
  height: 22px;
  fill: #333;
}

.social-links a:hover {
  background: #000;
  transform: translateY(-5px);
}

.social-links a:hover svg {
  fill: #fff;
}



.abchild1{


display: flex;
align-items: center;
text-align: center;
justify-content: center;
padding: 10px;
color: white;

}