*{

   padding: 0;
   margin: 0;
   box-sizing: border-box; 
}

.parent1{

display: flex;
justify-content: space-between;
align-items: center;
text-align: center;
padding: 10px;


}

.child1{
    display: flex;
    flex-direction: column;
    gap: 15px;
}



.child2 img{

width: 420px;
height: 350px;
border-radius: 50%;
 border: 4px solid pink;

}


body{


    background-color: black;
    color: beige;
}